<h1 class="mb-1 record-show-title p-2" style="color: #ca2a0e;">編輯【 你喜歡的模樣 】</h1>
<div class="container">
  <form action="/records/{{ record._id }}/edit" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">名稱<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="name" placeholder="帝寶別墅" name="name" value="{{ record.name }}" required />
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">日期<span class="text-danger">*</span></label>
      <input type="date" class="form-control" id="date" name="date" value="{{ record.date }}" required />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">分類<span class="text-danger">*</span></label>

      <select type="text" class="form-control" id="category" placeholder="Select" list="categoryOptions" name="category" value="{{ record.category }}"
      required />
      <option value="">Select</option>
      <option value="1" {{#ifMatch 1 record.category }}selected{{/ifMatch}}>家居物業</option>
      <option value="2" {{#ifMatch 2 record.category }}selected{{/ifMatch}}>交通出行</option>
      <option value="3" {{#ifMatch 3 record.category }}selected{{/ifMatch}}>休閒娛樂</option>
      <option value="4" {{#ifMatch 4 record.category }}selected{{/ifMatch}}>餐飲食品</option>
      <option value="5" {{#ifMatch 5 record.category }}selected{{/ifMatch}}>其他</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="amount" class="form-label">金額<span class="text-danger">*</span></label>
      <input type="number" class="form-control" id="amount" min="0" step="1" name="amount" value="{{ record.amount }}" required />
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-warning">
        儲存編輯
      </button>
      <a href="/">
        <button type="button" class="btn btn-outline-secondary">
          返回首頁
        </button>
      </a>
      {{! 使用type="reset" 可以清除/還原輸入 }}
      <button type="reset" class="btn btn-outline-danger">重新輸入</button>
    </div>
  </form>
</div>