<div class="container-sm mt-3 ms-4 px-md-5">
  <div class="row col-8 ps-2 pe-0">
    {{!-- 1、下拉選單：分類 --}}
    <form action="/search/?categorySearch={{id}} " method="GET">
      <div class="row mt-3 mb-5 d-flex justify-content-center">
        <select type="submit" class="form-select text-center" id="categorySearch" 
          name="categoryId" style="background-color: #fd6f59; color:aliceblue;" 
          onchange="this.form.submit()" required />
        <option value="">類別</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option>
        </select>
      </div>
    </form>
    
    {{!-- 2、總金額 --}}
    <div class="row blockquote mb-0 ms-1">
      <p class="row mb-0">兌現的總金額:</p>
      <p class="text-end mb-2 pb-2" style="line-height: 100% ; color: #eb346e; font-size: 80px;">{{sum}}</p>
    </div>
  </div>

  {{!-- 3、支出項目 --}}
  <div class="row mt-1">
    <ul class="list-group list-group-flush">
      {{#each records}}
      <li class="list-group-item py-0 my-0">
        <div class="row">
          <div class="col-8 py-2 d-flex justify-content-center align-items-center d-inline-block border rounded">
            {{!-- icon --}}
            <div class="col-2 pe-1 d-flex justify-content-center">
              <i class="fa-solid 
              {{#ifMatch 1 this.category }}fa-house{{/ifMatch}}
              {{#ifMatch 2 this.category }}fa-van-shuttle{{/ifMatch}}
              {{#ifMatch 3 this.category }}fa-face-grin-beam{{/ifMatch}}
              {{#ifMatch 4 this.category }}fa-utensils{{/ifMatch}}
              {{#ifMatch 5 this.category }}fa-pen{{/ifMatch}} 
              d-inline-block" 
              style="font-size: 53px; color:rgb(164, 228, 246);"></i>
            </div>
            {{!-- 項目及新增日期 --}}
            <div class="col-5 ps-2">
              <h4 class="pb-0 pt-1" style="font-size: 27px; color:rgb(108, 100, 100);">
                {{this.name}}
              </h4>
              <p class="mb-1" style="color:rgb(185, 181, 181);">{{this.date}}</p>
            </div>
            {{!-- 花費金額 --}}
            <div class="col-5 ">
              <p class="col text-end align-text-bottom" style="font-size: 30px; color:rgb(165, 161, 161)">
                {{this.amount}}
              </p>
            </div>  
          </div>

          <div class="col-3 align-self-center">
            {{!-- 編輯按鈕 --}}
            <a class="btn btn-outline-warning mx-3" href="../records/{{this._id}}/edit">編輯</a>
            {{!-- 刪除按鈕 --}}
            <form action="./records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
              <button class="btn btn-outline-danger" type="submit">刪除</button>
            </form>

          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  {{!-- 4、按鈕：新增支出 --}}
  <div class="row col-8 p-2 my-5">
    <div class="d-grid col-6 gap-2 mx-auto">
      <a href="../records/new">
        <button class="btn w-100" style="background-color: #fd6f59; color:aliceblue;" type="button">新增支出</button>
      </a>
    </div>
  </div>
</div>